<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsnr.arcehfabencasob.www.geocaching">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GlobaleCordinaten.My_GPS">
            <intent-filter>
                <action android:name="android.intent.action.Map" />
                <meta-data
                    android:name="com.google.android.geo.API_KEY"
                    android:value="@string/google_api_key" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aktivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aktivities.MainPage">
            <intent-filter>
                <action android:name="android.intent.action.mainpage" />

                <category android:name="android.intent.category.Startseite" />
            </intent-filter>
        </activity>
        <activity android:name=".Aktivities.Run.RiddleStart">
            <intent-filter>
                <action android:name="android.intent.action.riddleinfo" />

                <category android:name="android.intent.category.Riddle" />
            </intent-filter>
        </activity>
        <activity android:name=".Aktivities.Run.RiddleRun"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.riddleRun" />

                <category android:name="android.intent.category.Riddle" />
            </intent-filter>
        </activity>
        <activity android:name=".Aktivities.Run.RiddleWin">
            <intent-filter>
                <action android:name="android.intent.action.riddlewin" />

                <category android:name="android.intent.category.Riddle" />
            </intent-filter>
        </activity>
    </application>

</manifest>